.navbar {
  background-color: #F4DBAA; }

.navbar li {
  font-family: "Bodoni 72";
  font-size: 1.2em; }

.garden-background {
  position: fixed;
  width: 100%;
  height: 100%;
  background: linear-gradient(30deg, #172b16 12%, transparent 0, transparent 88%, #172b16 0), linear-gradient(150deg, transparent 37%, #213c1e 0, #213c1e 63%, transparent 0), linear-gradient(30deg, transparent 37%, #172b16 0, #172b16 63%, transparent 0) #2a4d27;
  background-size: 144px 84px; }
